# Swagger UIのタイトルなどに使用
APP_NAME=Clean-Architecture-Product-API

# FastAPIサーバーが、どのネットワークアドレスで待ち受けるか
# 127.0.0.1は、自分のPCからだけアクセスできる設定
APP_HOST=127.0.0.1

# 使用するポート番号
APP_PORT=8000

# コードを変更したときに自動再起動するかどうか
APP_RELOAD=true